{% extends "main.html" %}
{% block content %}


<div class="mainpage">
  <a href="/collecte/"> <p class="arow"> < </p> Page Principale</a>
    <a class="a" href="/collecte/filtre/1"> Trier A</a>
    <a class="a" href="/collecte/filtre/2"> Trier B</a>
</div>

<table class="forms">
    <tr class="top">
        <th>MAC</th>
        <th>Pièce</th>
        <th>Emplacement</th>
        <th>Nom</th>
        <th>Mise a jour</th>
    </tr>
    {% for i in capteurs %}
    <tbody>
    <tr class="bot">
        <td>{{i.address}} </td>
        <td>{{i.piece}}</td>
        <td>{{i.emplacement}} </td>
        <td>{{i.nom}} </td>
        <td><a href="/collecte/update/{{i.id}}">Mise à jour</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}