{% extends "main.html" %}
{% block content %}

<META HTTP-EQUIV="Refresh" CONTENT="10; /collecte/donnee/">

<div class="mainpage">
  <a href="/collecte/"> <p class="arow"> < </p> Page Principale</a >
</div>

<li id="nav"><a href="/collecte/csv/">Envoie dans un csv</a></li>

<table class="forms">

    <tr class="top">
        <th>MAC</th>
        <th>Nom</th>
        <th>Date</th>
        <th>Pièce</th>
        <th>Emplacement</th>
        <th>Temp</th>
    </tr>

    {% for i in data %}
    <tr class="bot">
        <td>{{i.capteur.address}}</td>
        <td>{{i.capteur.nom}}</td>
        <td>{{i.datetime}}</td>
        <td>{{i.capteur.piece}}</td>
        <td>{{i.capteur.emplacement}}</td>
        <td>{{i.temp}} °C</td>

    </tr>

    {% endfor %}
</table>

{% endblock content %}